BUILD_CONFIGURATION=Release
BUILD_VERSION=1.0.0
BUILD_DATE=2024-02-04
USE_CACHE=true
PUSH_TO_REGISTRY=true
REGISTRY_URL=your.registry.com
REGISTRY_USERNAME=your_username
REGISTRY_PASSWORD=your_password
USE_UNIQUE_SUFFIX=true
SUFFIX_TYPE=timestamp